.header-main {
  #block-front-theme-main-menu {
    ul {
      li {
        padding: 14px 24px;
        border-radius: 4px;
        &:hover,
        &:focus,
        &.active {
          background-color: hsl(var(--color-white-90));
          a {
            color: hsl(var(--color-primary-dark));
          }
        }
      }
    }
  }
}
