<div class="card-testmonial bg-white/5 backdrop-blur-sm p-8 lg:p-10 border border-white/10">
  
  <p class="text-lg leading-relaxed mb-6 italic text-white/90 text-white">
    {{ content.field_body }}
  </p>

  <div class="testimonial-author border-t border-white/20 pt-6">
    {{ content.field_image }}

    <div class="author-info">
      <strong class="text-white">{{ content.field_name }}</strong><br>
      <span class="text-white/70">{{ content.field_profession }}</span>
    </div>
  </div>
</div>