{%
  set classes = [
    'container mx-auto px-4 py-12',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <section
    {{ attributes
      .addClass(classes)
      .addClass('relative overflow-hidden', 'auto-animate')
      .setAttribute('data-animate', 'fade-up')
    }}
  >
    {% block content %}
      <h3>
        {{ content.field_section_title[0]['#context']['value'] }}
      </h3>
      <p class="max-w-[1177px]">{{ content.field_text[0]['#context']['value'] }}</p>
      {{ content.field_cards }}
    {% endblock %}
  </section>
{% endblock paragraph %}
