<div class="card-testmonial">
  {{ content.field_body }}

  <div class="testimonial-author">
    {{ content.field_image }}

    <div class="author-info">
      <strong>{{ content.field_name }}</strong><br>
      <span>{{ content.field_profession }}</span>
    </div>
  </div>
</div>
